@font-face {
    font-family: 'Soria-Bold';
    src: url('./fonts/Soria-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap");