body{
    margin: 0;
    padding: 0;
    box-sizing: ;
}

.cabecalho{
    width: 100vw;
    height: 10vh;
    background-color: rgb(250, 221, 248);
    display: flex;
}

.cabecalho h1{
    color: rgb(255, 13, 215);
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li{
    color: rgb(0, 0, 0);
}