body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100vw;
    height: 12vh;
    background-color: rgb(252, 245, 251);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho h1{
    color: rgb(255, 13, 215);
}

ul li{
    list-style: none;
    display: inline-block;
    font-weight: 500;
    padding: 1em;
}

a li{
    color: rgb(255, 13, 215);
}

a li:hover{
    color: pink;
}

a li:active{
    color: rgb(255, 159, 255);
}

a li:visited{
    color: blueviolet;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.comecar{
    background-color: rgb(255, 13, 215);
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    color: white;
    font-weight: 500;
}