body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100vw;
    height: 10vh;
    background-color: rgb(250, 221, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho h1{
    color: rgb(255, 13, 215);
}

ul li{
    list-style: none;
    display: inline-block;
    color: rgb(255, 13, 215);
    font-weight: 500;
    padding: 1em;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}